body {
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}
.NFLApp{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/football.jpg");
  height: 100vh;
  text-align: center;
}
.content{
  margin-top: 75px;
  text-align: center;
  display: inline-block;
  background-color: white;
  border-color: black;
  height: 100px;
  width: 60%;
}
