.button{
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
  height: 20px;
  width: 25px;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.marker{
  width:25px;
  height: 3px;
  color: #B3B6B7;
  font-size: 18px;
  font-weight: 600;
}

.marker: hover,
.marker: active{
  color:white;
}
