.button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 40px;
  background: transparent;
  z-index: 100;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  position:absolute;
  margin-top: 35px;
  margin-left: 20px;
}

.button:focus{
  outline:none;
}

.line{
  width:40px;
  height: 4px;
  background: #B3B6B7;
}
