tbody{
  color:#2C3E50;
}

h2{
  margin-bottom:5px;
  color:#f96332;
}

.card {
  width: 100%;
  height: 340px;
}

.Prow {
  text-align: center;
}

.Player-data{
  width: 675px;
}
.Player_Column{
  float: left;
  padding-left:20px;
}

.Player_Column_Right{
  float: left;
}

.Player_Info{
   transform: translate(5%, 8%);
   width: auto;
}

.Player_Info_Table{
  padding-left:2px;
}

.Player_Row{
  column-count: 2;
}
.Player_Row a {
  padding-top:7px;
  font-size:17px;
  color:#2C3E50;
  text-align: left;
}
