.Thead{
  position: relative;
  width: 100%;
  height: 100px;
  background: black;
  opacity: 0.87;
  margin-bottom: 20px;

}

.Navbar{
  display: flex;
  align-items: center;
  height: 100%;
}

.SearchButton{
  display: flex;
}

.Spacer{
  width: 50px;
}
.PlayerSearch{
  width: 195px;
  background-color: #797D7F;
  border-color: #797D7F;
  border-radius: 15px;
  text-align: center;
  margin-left: 7px;
}

.PushButton{
  background-color: #CCCECE;
  border-radius: 12px;
  margin-right: 7px;
}

.Logo{
  flex: 1;
  color: #B3B6B7;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}

.Titems{
  color: #D7DBDD;
  flex:1;
  padding-top: 20px;
}

.Titems ul{
  display: flex;
  list-style: none;
  margin-right: 20px;
  width: 680px;
}

.Titems li{
  flex: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.Titems li:hover,
.Titems li:active{
  color: #fa923f;
}
